@import "../wwwroot/css/_variables.scss";

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.7rem;
    background-color: rgba(0,0,0,0.4);
}

.dascontract-navbar {
    background: $dark-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 1em;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.13), 0 2px 10px 0 rgba(0,0,0,0.11);
}

.bi {
    font-size: 1.2em;
}

.dascontract-navbar {
    z-index: 9001;
}


.contract-name:hover {
    cursor: pointer;
}

.logo:hover {
    cursor: pointer;
}

.contract-name {
    color: white;
}


.toolbar {
    display: flex;
}

.toolbar-item {
    margin-right: 6px;
}

.nav-buttons {
}

.app-title {
}

h4 {
    margin: 0;
}

