﻿@using DasContract.Abstraction.Processes
@using DasContract.Editor.Web.Components.Select2;

<TabSection SectionName="Details">
    <div class="mb-3">
        <label class="form-label">Called process</label>
        <Select2 TItem="CallActivityOption"
                 Options="ContractManager.GetAllProcesses().Select(p => new CallActivityOption { CalledElementId = p.Id, CalledElementName = p.Name})"
                 ContentSelector="(p) => p.CalledElementName ?? p.CalledElementId"
                 ValueSelector="(p) => p.CalledElementId"
                 Id="@($"{CallActivity.Id}-called-process")"
                 Selected="@(CreateSelectedProcessList())"
                 SelectedChanged="@((selected) => {CallActivity.CalledElement = selected.FirstOrDefault()?.CalledElementId; })"
                 Multiple="false" />
    </div>
</TabSection>
